Repository H1ghBre4k3r/notizia: changes, and which Codecov flags are due for each by the changed paths.
All: notizia, notizia_gen

docs: Add error handling to README
  README.md
Due: none

feat(task): Add core task infrastructure and traits
  notizia/src/core/mailbox.rs
  notizia/src/core/mod.rs
  notizia/src/core/state.rs
  notizia/src/lib.rs
  notizia/src/macros.rs
  notizia/src/prelude.rs
  notizia/src/task/handle.rs
  notizia/src/task/mod.rs
  notizia/src/task/reference.rs
  notizia/src/task/traits.rs
Due: notizia

feat(macro): Refactor Task derive macro with improved attribute parsing
  notizia/examples/ping_pong.rs
  notizia/tests/error_handling.rs
  notizia_gen/src/lib.rs
  notizia_gen/tests/compile_fail/invalid_task_syntax.rs
  notizia_gen/tests/compile_fail/invalid_task_syntax.stderr
  notizia_gen/tests/compile_fail/non_clone_message.rs
  notizia_gen/tests/compile_fail/non_clone_message.stderr
  notizia_gen/tests/expand/basic_task.expanded.rs
  notizia_gen/tests/expand/basic_task.rs
Due: notizia_gen

docs(examples): Update documentation code examples
  notizia/src/lib.rs
  notizia/src/macros.rs
  notizia/src/task/reference.rs
  notizia/src/task/traits.rs
  notizia_gen/src/lib.rs
Due: notizia, notizia_gen

feat(notizia): Refactor API and improve task management
  README.md
  notizia/examples/01_basic_task.rs
  notizia/examples/02_bidirectional.rs
  notizia/examples/03_supervisor.rs
  notizia/examples/04_error_handling.rs
  notizia/examples/05_macro_vs_methods.rs
  notizia/src/core/mailbox.rs
  notizia/src/lib.rs
  notizia/src/prelude.rs
  notizia/src/task/handle.rs
  notizia/src/task/traits.rs
  notizia/tests/concurrent_messaging.rs
  notizia/tests/macro_integration.rs
  notizia/tests/task_lifecycle.rs
  notizia/tests/task_ref.rs
  notizia_gen/src/lib.rs
Due: notizia, notizia_gen

fix(clippy): fix several clippy warnings
  notizia/examples/02_bidirectional.rs
  notizia/examples/03_supervisor.rs
  notizia/tests/concurrent_messaging.rs
  notizia/tests/macro_integration.rs
  notizia/tests/task_lifecycle.rs
  notizia/tests/task_ref.rs
Due: none

feat(ci): Add PR template validation workflow
  .github/pull_request_template.md
Due: none

test(derive): Add test cases for Task derive macro
  notizia_gen/tests/compile_fail/invalid_format.rs
  notizia_gen/tests/compile_fail/invalid_format.stderr
  notizia_gen/tests/compile_fail/invalid_meta_namevalue.rs
  notizia_gen/tests/compile_fail/invalid_meta_namevalue.stderr
  notizia_gen/tests/compile_fail/invalid_meta_path.rs
  notizia_gen/tests/compile_fail/invalid_meta_path.stderr
  notizia_gen/tests/compile_fail/invalid_value_type.rs
  notizia_gen/tests/compile_fail/invalid_value_type.stderr
  notizia_gen/tests/compile_fail/missing_message_param.rs
  notizia_gen/tests/compile_fail/missing_message_param.stderr
  notizia_gen/tests/expand/generic_message.expanded.rs
  notizia_gen/tests/expand/generic_message.rs
  notizia_gen/tests/expand/struct_with_fields.expanded.rs
  notizia_gen/tests/expand/struct_with_fields.rs
  notizia_gen/tests/expand/tuple_struct.expanded.rs
  notizia_gen/tests/expand/tuple_struct.rs
Due: none

release: v0.3
  CHANGELOG.md
  Cargo.toml
  README.md
  notizia/README.md
  notizia_gen/README.md
Due: none

feat(task): Add task termination lifecycle and cleanup hook
  Cargo.toml
  notizia/Cargo.toml
  notizia/examples/ping_pong.rs
  notizia/src/core/lifecycle.rs
  notizia/src/core/mod.rs
  notizia/src/lib.rs
  notizia/src/prelude.rs
  notizia/src/task/handle.rs
  notizia/src/task/traits.rs
  notizia_gen/src/lib.rs
Due: notizia, notizia_gen

feat(task): Improve task handle join error handling
  notizia/examples/01_basic_task.rs
  notizia/examples/02_bidirectional.rs
  notizia/examples/03_supervisor.rs
  notizia/examples/04_error_handling.rs
  notizia/examples/05_macro_vs_methods.rs
  notizia/tests/concurrent_messaging.rs
  notizia/tests/macro_integration.rs
  notizia/tests/task_lifecycle.rs
  notizia/tests/task_ref.rs
  notizia_gen/tests/expand/basic_task.expanded.rs
  notizia_gen/tests/expand/struct_with_fields.expanded.rs
  notizia_gen/tests/expand/tuple_struct.expanded.rs
Due: none

feat(task): Add lifecycle test cases for task macro
  notizia/tests/lifecycle.rs
  notizia_gen/tests/expand/lifecycle_basic.expanded.rs
  notizia_gen/tests/expand/lifecycle_basic.rs
  notizia_gen/tests/expand/lifecycle_with_terminate.expanded.rs
  notizia_gen/tests/expand/lifecycle_with_terminate.rs
Due: none

feat(core): Add CallError and call! macro for synchronous task calls
  notizia/src/core/errors.rs
  notizia/src/lib.rs
  notizia/src/macros.rs
  notizia/src/prelude.rs
Due: notizia

feat(messaging): Add request-response patterns to Notizia
  README.md
  notizia/examples/06_call_cast.rs
  notizia/src/core/mailbox.rs
  notizia/src/core/state.rs
  notizia/src/lib.rs
  notizia/src/macros.rs
  notizia/src/prelude.rs
  notizia/tests/call_cast.rs
Due: notizia

refactor(lint): Suppress clippy warnings and improve error handling
  notizia/examples/06_call_cast.rs
  notizia/src/lib.rs
  notizia/src/prelude.rs
  notizia/tests/call_cast.rs
Due: notizia

feat(macro): Add #[message] macro tests and compile-fail cases
  notizia/examples/07_message_macro.rs
  notizia/src/lib.rs
  notizia/tests/message_macro.rs
  notizia_gen/src/lib.rs
  notizia_gen/tests/compile_fail/request_missing_reply_param.rs
  notizia_gen/tests/compile_fail/request_missing_reply_param.stderr
  notizia_gen/tests/compile_fail/request_on_tuple_variant.rs
  notizia_gen/tests/compile_fail/request_on_tuple_variant.stderr
  notizia_gen/tests/compile_fail/request_wrong_param_name.rs
  notizia_gen/tests/compile_fail/request_wrong_param_name.stderr
  notizia_gen/tests/expand/message_basic.expanded.rs
  notizia_gen/tests/expand/message_basic.rs
  notizia_gen/tests/expand/message_multiple_requests.expanded.rs
  notizia_gen/tests/expand/message_multiple_requests.rs
  notizia_gen/tests/expand/message_no_requests.expanded.rs
  notizia_gen/tests/expand/message_no_requests.rs
  notizia_gen/tests/expand/message_with_existing_fields.expanded.rs
  notizia_gen/tests/expand/message_with_existing_fields.rs
Due: notizia, notizia_gen

feat(macro): Simplify call macro syntax and improve usability
  notizia/examples/07_message_macro.rs
  notizia/src/lib.rs
  notizia/src/macros.rs
  notizia/tests/call_simple_syntax.rs
  notizia/tests/message_macro.rs
  notizia_gen/src/lib.rs
Due: notizia, notizia_gen

Path conditions:
  notizia: any of: notizia/src/, but not: target/, **/tests.rs, tests/, benches/, **/tests/**/*.expanded.rs, notizia_gen/tests/expand/*.expanded.rs
  notizia_gen: any of: notizia_gen/src/, but not: target/, **/tests.rs, tests/, benches/, **/tests/**/*.expanded.rs, notizia_gen/tests/expand/*.expanded.rs
